<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProfileeM 관리자 페이지</title>
    <!-- 로컬 Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">ProfileeM 관리자 로그인</h1>
</div>
<form action="/login" method="POST">
    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <!-- 로그인 실패 시 메시지 출력 -->
    <div th:if="${param.error}">
        <p class="text-danger">로그인에 실패했습니다. 아이디와 비밀번호를 확인해주세요.</p>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="username" placeholder="id">
        <label for="floatingInput">ID</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-body-secondary">© 정진성</p>
</form>
<!-- 로컬 Bootstrap JavaScript 추가 -->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
